// PAGES
@import 'Login.module.css';
@import './Home.module.css';
@import './Navbar.module.css';
@import './Hosting.module.css';

// COMPONENTS
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";



.self-typed {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #0b8bad;
}