

.navbar-menu {
    border-color: #683ff8;
    border-width: 0px;
    border-style: inset;
}

.navbar-item {
    border-style: solid;
    border-color: #1f1442;
    border-width: 2px;
}

.container {
    color: #3b05e7;
}

.navbar-start {
flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    text-align: center;
}

.footer {
    text-align: center;
}

.navbar-end{
    background-color: #683ff8; /* #c8e6ff */
}

.navbar-brand{
    background-color: #683ff8;
}

.navbar-menu{
    background-color: #683ff8;
}

#navbarMenu .navbar-item {
    color: black;
}


@media screen and (max-height: 450px) {
    .navbar-end {margin-left :0px;}
}